.dashboard-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.dashboard-message {
  color: red;
  font-size: 2em;
  text-align: center;
}

.dashboard-score {
  text-align: center;
}
